html {
    padding-top:25px;
    background: #0074C9;
    
}

body {

    width:50%;
    padding: 20px;
    margin: 0px auto;
    background-color:#E1EDEB;
    box-shadow:10px 10px 10px rgba(0,0,0,.5);
}